<a href="https://colab.research.google.com/github/harrisalexandre/estudos-python/blob/main/curso_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# / Atividades

Ler dois números inteiros, executar e mostrar o resultado das seguintes operações: adição, subtração, multiplicação e divisão

In [ ]:
3numero1 = int(input('Digite o primeiro número: '))
numero2 = int(input('Digite o segundo número: '))

print(numero1, numero2)

adicao = numero1 + numero2
subtracao = numero1 - numero2
multiplicacao = numero1 * numero2
divisao = numero1 / numero2

print('Adição: ', adicao)
print('Subtração: ', subtracao)
print('Multiplicação: ', multiplicacao)
print('Divisão: ', round(divisao, 2))

Digite o primeiro número: 1
Digite o segundo número: 2
1 2
Adição:  3
Subtração:  -1
Multiplicação:  2
Divisão:  0.5

Efetuar o cálculo da quantidade de litros de combustível gasto em uma viagem, utilizando um automóvel que faz 12 Km por litro. Para obter o cálculo, o usuário deve fornecer o tempo gasto na viagem e a velocidade média durante ela. Desta forma, será possível obter a distância percorrida com a fórmula DISTANCIA = TEMPO * VELOCIDADE. Tendo o valor da distância, basta calcular a quantidade de litros de combustível utilizada na viagem, com a fórmula: LITROS_USADOS = DISTANCIA / 12. O programa deve apresentar os valores da velocidade média, tempo gasto na viagem, a distância percorrida e a quantidade de litros utilizada na viagem

In [ ]:
tempo = float(input('Digite o tempo gasto na viagem: '))
velocidade = float(input('Digite a velocidade média: '))

print(tempo, velocidade)

distancia = tempo * velocidade
litros_usados = distancia / 12

print('Velocidade média: ', velocidade)
print('Tempo gasto na viagem: ', tempo)
print('Distância percorrida:', distancia)
print('Quantidade de litros:', round(litros_usados,1))

Digite o tempo gasto na viagem: 2
Digite a velocidade média: 60
2.0 60.0
Velocidade média:  60.0
Tempo gasto na viagem:  2.0
Distância percorrida: 120.0
Quantidade de litros: 10.0

Leia a idade do usuário e classifique-o em:

Criança – 0 a 12 anos
Adolescente – 13 a 17 anos
Adulto – acima de 18 anos -Se o usuário digitar um número negativo, mostrar a mensagem que a idade é inválida

In [ ]:
idade = int(input('Digite a idade: '))

print(idade)

if idade >= 0 and idade <= 12:
  print('Criança')
elif idade > 12 and idade <= 18:
  print('Adolescente')
elif idade > 18:
  print('Adulto')
else:
  print('Idade inválida')

Digite a idade: 25
25
Adulto

Calcular a média de um aluno que cursou a disciplina de Programação I, a partir da leitura das notas M1, M2 e M3; passando por um cálculo da média aritmética. Após a média calculada, devemos anunciar se o aluno foi aprovado, reprovado ou pegou exame

Se a média estiver entre 0.0 e 4.0, o aluno está reprovado
Se a média estiver entre 4.1 e 6.0, o aluno pegou exame
Se a média for maior do que 6.0, o aluno está aprovado
Se o aluno pegou exame, deve ser lida a nota do exame. Se a nota do exame for maior do que 6.0, está aprovado, senão; está reprovado

In [ ]:
m1 = float(input('Digite a nota M1: '))
m2 = float(input('Digite a nota M2: '))
m3 = float(input('Digite a nota M3: '))

media = (m1 + m2 + m3) / 3
print(media)

if media >= 0.0 and media <= 4.0:
  print('Aluno reprovado')
elif media >= 4.1 and media <= 6.0:
  exame = float(input('Digite a nota do exame'))
  if exame >= 6.0:
    print('Aprovado no exame')
  else:
    print('Reprovado no exame')
else:
  print('Aluno aprovado')

Digite a nota M1: 21
Digite a nota M2: 23
Digite a nota M3: 13
19.0
Aluno aprovado

Para revisar o conteúdo prático visto até agora, você agora pode resolver dois exercícios. Logo em seguida você pode acessar a aula em vídeo com a solução. Implemente cada exercício utilizando tanto o for quanto o while

Ler 5 notas e informar a média
Imprimir a tabuada do número 3 (3 x 1 = 1 – 3 x 10 = 30)
Bom trabalho,

In [ ]:
# FOR

nota = media = soma = 0

for I in range(1, 6):
  nota = float(input('Digite a nota '))
  soma += nota

print(soma)

media = soma / 5
print('A média é ', media)

Digite a nota 1
Digite a nota 2
Digite a nota 3
Digite a nota 4
Digite a nota 5
15.0
A média é  3.0

In [ ]:
# WHILE

nota = soma = 0
numero = 1
while numero <= 5:
  nota = float(input('Digite a nota:'))
  soma += nota
  numero += 1
print('A média é ', soma / 5)6

Digite a nota:1
Digite a nota:2
Digite a nota:3
Digite a nota:4
Digite a nota:5
A média é  3.0

imprimir a tabuada do numero 3 ( 3 x 1 - 3 x 10 = 30 )

In [2]:
# FOR
for i in range(1, 11):
  print('3 x {} = {}'.format(i, 3 * i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [3]:
# while

numero = 1
while numero <= 10:
  print('3 x {} = {}'.format(numero, 3 * numero))
  numero += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Para revisar o conteúdo prático visto até agora, você agora pode resolver dois exercícios. Logo em seguida você pode acessar a aula em vídeo com a solução

**Lista**: Crie uma estrutura de repetição para fazer a leitura de 5 números inteiros e os armazene dentro de uma lista. Após a leitura, crie outra estrutura de repetição para somar todos os valores digitados

**Dicionário**: Crie um dicionário para armazenar o nome e a nota de 3 alunos, fazendo a leitura dos valores por meio de uma estrutura de repetição. Depois, crie uma nova estrutura de repetição para somar todas as notas e retornar a média

**Matriz**: Dada a matriz abaixo, construa uma estrutura de repetição para percorrer e somar todos os elementos da matriz

In [47]:
import numpy as np

lista = []
for i in range(1, 6):
  valor = int(input('Digite o valor: '))
  lista.append(valor)

lista

Digite o valor: 1
Digite o valor: 2
Digite o valor: 3
Digite o valor: 4
Digite o valor: 5

[1, 2, 3, 4, 5]

In [49]:
import numpy as np
len(lista)

soma = 0
for i in range(len(lista)):
  #print(lista[i])
  soma += lista[i]
print('Soma: ', soma)

np.array(lista).sum()

Soma:  15

15

Crie um dicionário para armazenar o nome e a nota de 3 alunos, fazendo a leitura dos valores por meio de uma estrutura de repetição. Depois, crie uma nova estrutura de repetição para somar todas as notas e retornar a média

In [51]:
alunos = {}
for _ in range(1, 4):
  nome = input('Digite o nome: ')
  nota = float(input('Digite a nota: '))
  alunos[nome] = nota 

soma = 0
for nota in alunos.values():
  #print(nota)
  soma += nota
print('Média: ', soma / 3)

Digite o nome: Joao
Digite a nota: 7
Digite o nome: Ze
Digite a nota: 8
Digite o nome: Luis
Digite a nota: 9
Média:  8.0

Dada a matriz abaixo, construa uma estrutura de repetição para percorrer e somar todos os elementos da matriz

In [53]:
matriz = np.array([[1, 2, 3],
                   [4, 5, 6]])
matriz

soma = 0
for i in range(matriz.shape[0]):
  for j in range(matriz.shape[1]):
    #print(matriz[i][j])
    soma += matriz[i][j]
print('Soma: ', soma)

Soma:  21

# Estruturas de repetição

In [ ]:
for numero in range (1, 16):
  print(numero)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
soma = 0
for numero in range (1, 6):
  soma = soma + numero
  print (soma)
print('')
print (soma)

1
3
6
10
15

15

In [ ]:
palavra = 'sorvete'
for letra in palavra:
    print(letra)

s
o
r
v
e
t
e

In [ ]:
for i in range (0,5):
  print(i)
  print()
  for j in range (0,3):
    print (j)
  print()

0

0
1
2

1

0
1
2

2

0
1
2

3

0
1
2

4

0
1
2

In [ ]:
numero = 5
while numero > 0:
  print(numero)
  numero -= 1

5
4
3
2
1

In [ ]:
numero = 12
while numero < 1 or numero > 10:
  numero = int(input('Digite um número de 1 a 10: '))

Digite um número de 1 a 10: 0
Digite um número de 1 a 10: 11
Digite um número de 1 a 10: 5

# Coleções / Tuplas / Listas / Dicionarios / Conjuntos / Matrizes

**Tuplas**

In [4]:
tupla = ('Homo sapiens', 'Canis familiaris','Felis catus')

tupla

('Homo sapiens', 'Canis familiaris', 'Felis catus')

**Lista**

In [8]:
lista1 = ['Homo sapiens', 'Canis familiaris','Felis catus']
lista2 = ['Xenopus laevis', 'Ailuropoda melanoleuca']

lista3 = lista1 + lista2

print(lista3)

['Homo sapiens', 'Canis familiaris', 'Felis catus', 'Xenopus laevis', 'Ailuropoda melanoleuca']

In [10]:
lista1.append('Gorila gorila')
print(lista1)

['Homo sapiens', 'Canis familiaris', 'Felis catus', 'Gorila gorila', 'Gorila gorila']

**Dicionarios**

In [26]:
coleta = {'Aedes aegypt': 32, 'Aedes albopictus': 22, 'Anopheles darlingi': 14}
coleta['Aedes aegypt']
coleta['Rhodnius montenegrensis'] = 11
print(coleta)
print()

del(coleta)['Aedes albopictus']
print(coleta)
print('items')
coleta.items()
print('keys')
coleta.keys()
print('values')
coleta.values()
print()

coleta2 = {'Anopheles gambiae': 13, 'Anopheles deaneorum': 14}
print(coleta2)

print('update')
coleta.update(coleta2)
print(coleta)

for especie, num_especimes in coleta.items():
  print(f'Espécie: {especie}, número de espécimes coletados: {num_especimes}')

{'Aedes aegypt': 32, 'Aedes albopictus': 22, 'Anopheles darlingi': 14, 'Rhodnius montenegrensis': 11}

{'Aedes aegypt': 32, 'Anopheles darlingi': 14, 'Rhodnius montenegrensis': 11}
items
keys
values

{'Anopheles gambiae': 13, 'Anopheles deaneorum': 14}
update
{'Aedes aegypt': 32, 'Anopheles darlingi': 14, 'Rhodnius montenegrensis': 11, 'Anopheles gambiae': 13, 'Anopheles deaneorum': 14}
Espécie: Aedes aegypt, número de espécimes coletados: 32
Espécie: Anopheles darlingi, número de espécimes coletados: 14
Espécie: Rhodnius montenegrensis, número de espécimes coletados: 11
Espécie: Anopheles gambiae, número de espécimes coletados: 13
Espécie: Anopheles deaneorum, número de espécimes coletados: 14

**Conjuntos**

In [30]:
biomoleculas = ('proteina', 'acidos nucleicos', 'carboidatos', 'lipideo',
                'acidos nucleicos', 'carboidatos', 'carboidrato')

print(biomoleculas)

('proteina', 'acidos nucleicos', 'carboidatos', 'lipideo', 'acidos nucleicos', 'carboidatos', 'carboidrato')

In [34]:
c1 = {1,2,3,4,5}
c2 = {3,4,5,6,7}

c3 = c1.intersection(c2)
print(c3)

c1.difference(c2)
c2.difference(c1)

{3, 4, 5}

{6, 7}

**Matrizes**

In [42]:
import numpy as np

matriz = np.array([[2,3,1],
                   [4,5,7]])

matriz

print('linhas x colunas')
matriz.shape

# matrizes comecam sempre no zero, o primeiro digito (linha x coluna) = zero
matriz[0][0]

for i in range(matriz.shape[0]):
  print(matriz[i])
  for j in range(matriz.shape[1]):
    print(matriz[i][j])

linhas x colunas
[2 3 1]
2
3
1
[4 5 7]
4
5
7